@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

.view * {
  -fx-font-family: "Lobster Two";
}

.menu-title {
  -fx-font-size: 80px;
  -fx-font-weight: bold;
  -fx-text-fill: linear-gradient(#00a5ff, #00dcff);
  -fx-corner-radius: 5px;
}

.styled-button {
  -fx-font-size: 40px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(#00ffa5, #00ffdc);
  -fx-text-fill: white;
  -fx-border-radius: 5px;
  -fx-background-radius: 10px;
  -fx-stroke: black;
  -fx-stroke-width: 2px;
  -fx-label-padding: 0px 5px 0px 5px;
}

.styled-label {
  -fx-text-fill: linear-gradient(#00ffa5, #00ffdc);
}

.styled-label-body {
  -fx-font-size: 14px;
}

.styled-label-heading {
  -fx-font-size: 14px;
}

.menu-button-box {
  -fx-spacing: 10px;
}

.view {
  -fx-background-color: black;
}

.card-pane {
  -fx-vgap: 10px;
}

.card {
  -fx-background-color: white;
  -fx-background-radius: 5px;
  -fx-padding: 5px;
  -fx-font-size: 20px;
}