@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.view * {
  -fx-font-family: VT323;
}

.menu-title {
  -fx-font-size: 80px;
  -fx-font-weight: bold;
  -fx-text-fill: linear-gradient(#ffa500, #f5dc00);
  -fx-corner-radius: 5px;
}

.styled-button {
  -fx-font-size: 40px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(#ffa500, #f5dc00);
  -fx-text-fill: white;
  -fx-border-radius: 5px;
  -fx-background-radius: 10px;
  -fx-stroke: black;
  -fx-stroke-width: 2px;
  -fx-label-padding: 0px 5px 0px 5px;
}

.styled-label {
  -fx-text-fill: linear-gradient(#ffa500, #f5dc00);
}

.styled-label-body {
  -fx-font-size: 16px;
}

.styled-label-heading {
  -fx-font-size: 16px;
}

.menu-button-box {
  -fx-spacing: 10px;
}

.view {
  -fx-background-color: black;
}

.card-pane {
  -fx-vgap: 10px;
}

.scoreboard {
  -fx-hgap: 5px;
}

.card {
  -fx-background-color: linear-gradient(#ffa500aa, #f5dc00aa);
  -fx-background-radius: 5px;
  -fx-padding: 5px;
  -fx-font-size: 20px;
}

.dropdown-label {
  -fx-text-fill: white;
}