.menu-title {
  -fx-font-size: 60px;
  -fx-font-weight: bold;
  -fx-text-fill: linear-gradient(#ffa500, #f5dc00);
  -fx-corner-radius: 5px;
}

.menu-button {
  -fx-font-size: 30px;
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(#ffa500, #f5dc00);
  -fx-text-fill: white;
  -fx-border-radius: 5px;
  -fx-background-radius: 10px;
  -fx-stroke: black;
  -fx-stroke-width: 2px;
  -fx-label-padding: 0px 5px 0px 5px;
}

.menu-button-box {
  -fx-spacing: 10px;
}

.view * {
  -fx-font-family: Monospaced;

}

.view {
  -fx-background-color: black;
}